.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volume-bar {
  height: 150px;
  background: green;
  width: 500px;
  transform-origin: left;
  transition: 100ms ease;
}
